*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/* Custom */

:root {
  --aurometal-saurus: #6C7289;
  --cream: #F2EAE2;
  --deep-aquamarine: #3D8168;
  --gunmetal: #1C232B;
  --pure-white: #FFF;
}

body {
  background-color: var(--cream);
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

button {
  border: none;
  padding: 0;
}